body {
    background-image: url(images/screen.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
}

#screen {
    text-align: center;
    color: black;
    margin: 0 auto;
    margin-top: 100px;
    font-family: cursive;
    overflow: scroll;
    height: 400px;
}

#screen h1 {
    font-size: 6em;
}

#screen p {
    font-size: 2em;
}

.movies {
    margin-top: 150px;
    font-size: 2em;
}
.collapse {
    display: none;
    position: absolute;
}